<!doctype html>


<head>
 
  <title>The SLAM BOOK</title>

</head>

<body>
  <form action="/nextstep/{{q12}}" method="post">
  {% csrf_token %}
    Name <input type="text" name="name" id="nameid">
    <input type="hidden" value={{q12}} id="idid">
    <br><br>
    Nickname <input type="text" name="nickname">
    <br><br>
    Address <input type="text" name="address">
    Ring me on <input type="text" name="ring">
    <br><br>
    Born On<input type="text" name="dob" id="dobid">
    <br><br>
    Zodiac Sign <input type="text" name="zodiac">
    {{q1}} <input type="text" name="q1">
    <input type="hidden"  value='{{q11}}' name="questions">
    <br><br>
    {{q2}} <input type="text" name="q2">
    {{q3}} <input type="text" name="q3">
    <br><br>
    {{q4}} <input type="text" name="q4">
    {{q5}} <input type="text" name="q5">
    <br><br>
    {{q6}} <input type="text" name="q6">
    {{q7}} <input type="text" name="q7">
    <br><br>
    {{q8}} <input type="text" name="q8">
    <br><br>
    {{q9}} <input type="text" name="q9">
    <br><br>
    {{q10}} <input type="text" name="q10">
    <br><br>
    About you, I feel <input type="text" name="about">
    <br><br>
    Date <input type="text" name="date">
    <br><br>
    <input type="file" name="files[]" id="files">
     <input type="hidden" name="url" id="url">
    <br><br>
    <button type="submit" id="hide" hidden > </button>
  </form>
  <button type="submit" onclick="uploadimage()">submit</button>
</body>
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
   var config = {
        apiKey: "AIzaSyDJmrBPs4jJL-ZE2OWD9Rryzja-BerylcY",
        authDomain: "e-slam-book.firebaseapp.com",
        databaseURL: "https://e-slam-book.firebaseio.com",
        projectId: "e-slam-book",
        storageBucket: "e-slam-book.appspot.com",
        messagingSenderId: "601607053655",
        appId: "1:601607053655:web:73333a2d0812a4caab9e12",
        measurementId: "G-2NNRT1MT6W"
    };
  firebase.initializeApp(config);
  
  function uploadimage(){
  var storage = firebase.storage();
  var file = document.getElementById("files").files[0];
  var storageRef = storage.ref();
  var thisref = storageRef.child("data/"+document.getElementById("idid").value+document.getElementById("nameid").value+document.getElementById("dobid").value+".jpg").put(file);
  thisref.on('state_changed',function(snapshot){
  },
  function(error) {
    console.log(error)
  },
  function() {
  var downloadURL = thisref.snapshot.downloadURL;
  document.getElementById("url").value = downloadURL;
  document.getElementById("hide").click()
});
    }
</script>


</html>